<% provide(:title, 'Editing ' + @blog.title)  %>
<% provide(:page, 'Blog')  %>

<section class="edit">

  <div class="section-header">
    <h2>Editing: <%= @blog.title %></h2>
  </div>

  <div class="form-wrapper">

    <%= render 'form', blog: @blog %>

  </div>

</section>


