<h1>User#restaurant_email</h1>

<p>
Hello <%= @user.name %>,
  Here is the latest information on <b>"<%= @restaurant.name %>"</b>.
  It is located at <%= @restaurant.location %>.
</p>
<p>
  The restaurant serves <%= @restaurant.cuisine %>
</p>
