<% provide(:title, 'New Article') %>
<% provide(:page, 'Articles')  %>

<section class="new">

  <div class="section-header">
    <h2>Write an article</h2>
  </div>

  <div class="form-wrapper">

    <%= render 'form', article: @article %>
    <%= link_to 'Back', articles_path, class: 'button' %>

  </div>

</section>

